---
BasedOnStyle: WebKit
BreakBeforeBraces: Attach
IndentWidth: '4'
TabWidth: '4'
BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: BlockIndent
Cpp11BracedListStyle: true
SpaceBeforeCpp11BracedList: true
RemoveSemicolon: true
...
